{% extends "base.html" %}
{% block title %}Customers{% endblock %}

{% block body %}
<div class="container">
  <h4 class="center-align">{{ title }}</h4>
  <table id="customers" class="display">
    <thead>
      <tr>
          <th>Nr. tel</th>
          <th>Utworzono</th>
          <th>Skrócony link</th>
          <th>Długi link</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers|sort(attribute='created_at', reverse = True) %}
        <tr>
          <td>{{ customer.phone }}</td>
          <td>{{ customer.created_at }}</td>
          <td>{{ customer.shorted_url }}</td>
          <td>{{ customer.redirect_url }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}