.mb24 {
    margin-bottom: 24px;
}

.url-shorenter-section  {
    width: 35%;
    margin: 0 auto;
}

.card .card-content {
    padding: 18px;
}

.shorted-link {
    text-align: center;
    background: #cacaca;
    padding: 5px;
}

div.error { display: none; }

.input-field div.error {
    position: relative;
    top: -1rem;
    left: 0rem;
    font-size: 0.8rem;
    color: #ff4040;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

.btn.copy {
    padding: 0 5px;
    width: 35px;
    height: 30px;
}

.clippy-img {
    position: relative;
    width: 20px;
    vertical-align: sub;
}

#copy-input {
    margin-bottom: 0;
    height: 30px;
    font-size: 13px;
    color: #333;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
    width: 88%;
    padding-left: 10px;
}

@media (max-width: 767px) {
    .url-shorenter-section  {
        width: initial;
    }   
}