.mb24 {
    margin-bottom: 24px;
}

.url-shorenter-section  {
    width: 35%;
    margin: 0 auto;
}

.card .card-content {
    padding: 18px;
}

.shorted-link {
    text-align: center;
    background: #cacaca;
    padding: 5px;
}

div.error { display: none; }

.input-field div.error {
    position: relative;
    top: -1rem;
    left: 0rem;
    font-size: 0.8rem;
    color: #ff4040;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}



@media (max-width: 767px) {
    .url-shorenter-section  {
        width: initial;
    }   
}