<footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l9 s12">
          <h5 class="white-text">Kajaki Sękowski</h5>
          <p class="grey-text text-lighten-4">Skracacz linków</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Na skróty</h5>
          <ul>
              <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
              <li><a href="{{ url_for('customers.all_customers') }}">Customers</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="mailto:miks.szymon@gmail.com">Szymon Miks</a>
      </div>
    </div>
  </footer>